.Xil
*.svg
*.json
*.fst
*.vcd
obj_dir
slpp_all
_output
logs
verible.filelist
top
covhtmlreport
work
report.ucdb
test_vpi.o
test_vpi.vpi
top.vvp
transcript
vsim.dbg
vsim.wlf
.nvim/svlangserver/linter.vc
